form.form-login{
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    border-radius: var(--padding-small);
    padding: var(--padding-medium);
    width: 30%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
};
