:root{ 
  --background-color-main: #;
  --color-white:#fff;
  --color-gray: #b4b4b4;
  --color-blue: #4e57fa;
  --color-red: #ff0000;
  --color-blue-hover: #2831e7;
  --paragraph-color: #1d1d1d;
  --padding-small: 12px;
  --padding-medium: 32px;
  --padding-large: 64px;
  --margin-small: 16px;
  --margin-medium: 32px;
  --margin-large: 64px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
  --font-family-main: "system-ui", sans-serif;  
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
body {
  font-family: var(--font-family-main);
  margin: 0 auto;
  height: 100vh;
}