
/* Styles for container header*/
header.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-medium);
    height: 60px;
    background-color: var(--color-white);
};
